#App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  --primary-color: #1266cc;
  --secondary-color: #f96400;
  --flash-color: rgb(89, 255, 0);
  --gray: #999;
  --light-gray: #e0e0e0;
  --dark-gray: #777;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #460101;
  overflow: hidden;
  z-index: -5;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 53s linear infinite;
}

.background li:nth-child(0) {
  left: 82%;
  width: 9px;
  height: 9px;
  bottom: -9px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 46%;
  width: 55px;
  height: 55px;
  bottom: -55px;
  animation-delay: 5s;
}
.background li:nth-child(2) {
  left: 67%;
  width: 33px;
  height: 33px;
  bottom: -33px;
  animation-delay: 2s;
}
.background li:nth-child(3) {
  left: 85%;
  width: 9px;
  height: 9px;
  bottom: -9px;
  animation-delay: 11s;
}
.background li:nth-child(4) {
  left: 15%;
  width: 48px;
  height: 48px;
  bottom: -48px;
  animation-delay: 19s;
}
.background li:nth-child(5) {
  left: 66%;
  width: 36px;
  height: 36px;
  bottom: -36px;
  animation-delay: 22s;
}
.background li:nth-child(6) {
  left: 17%;
  width: 42px;
  height: 42px;
  bottom: -42px;
  animation-delay: 22s;
}
.background li:nth-child(7) {
  left: 58%;
  width: 29px;
  height: 29px;
  bottom: -29px;
  animation-delay: 28s;
}
.background li:nth-child(8) {
  left: 43%;
  width: 1px;
  height: 1px;
  bottom: -1px;
  animation-delay: 32s;
}
.background li:nth-child(9) {
  left: 57%;
  width: 6px;
  height: 6px;
  bottom: -6px;
  animation-delay: 8s;
}
.background li:nth-child(10) {
  left: 68%;
  width: 5px;
  height: 5px;
  bottom: -5px;
  animation-delay: 11s;
}
.background li:nth-child(11) {
  left: 12%;
  width: 14px;
  height: 14px;
  bottom: -14px;
  animation-delay: 43s;
}

#App .container {
  width: 70%;
  min-width: 60rem;
  max-width: 75rem;
  height: 100%;
}

.owner div {
}

code {
  display: block;
  white-space: pre-wrap;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  background-color: var(--light-gray);
  font-size: 1.4rem;
}

code span {
  transition: all 0.3s;
}

code span.primary-color {
  color: var(--primary-color);
}

code span.secondary-color {
  color: var(--secondary-color);
}

code span.dim-color {
  color: var(--gray);
}

code span.flash {
  background-color: var(--flash-color);
}

details {
  margin: 1.6rem 0;
  padding: 0.5rem 2rem 0.5rem 0;
  border: 1px solid var(--light-gray);
  border-radius: 1rem;
}

details :not(summary, span) {
  margin-left: 2.55rem;
}

details summary {
  padding: 1.2rem;
  cursor: pointer;
}

p,
details code {
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

p {
  line-height: 2.6rem;
}

p span.code {
  font-family: monospace;
  color: var(--gray);
}

hr {
  margin: 4rem 0;
}

#App .container .welcome h1 {
  padding-top: 7.5rem;
  font-size: 2.6rem;
}

#App .container .demo .contract-container {
  display: flex;
}

#App .container .demo .contract-container code {
  min-width: 42rem;
  border-radius: 1rem 0 0 1rem;
}

#App .container .demo .contract-container .btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem;
  background-color: var(--gray);
  border-radius: 0 1rem 1rem 0;
}

#App .container .demo .contract-container .btns > * {
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background-color: var(--light-gray);
  border: none;
  font-size: 1.2rem;
  font-family: monospace;
  cursor: pointer;
}

#App .container .demo .contract-container .btns > *:hover {
  background-color: var(--dark-gray);
}

#App .container .demo .contract-container .btns .input-btn input {
  width: 4rem;
  text-align: center;
  font-family: monospace;
  font-size: 1.2rem;
}

#App .container footer {
  padding-bottom: 7.5rem;
}

#App .container footer a {
  display: inline-block;
  margin: 2rem 1rem 0 0;
}
